#-------------------------------------------------------------------------------
# sstat - utility for monitoring server status
#
# General Settings
#-------------------------------------------------------------------------------
# TITLE,Window Title
# WIDTH,Initial Window Width
# HEIGHT,Initial Window Height
# UPDATEPERIOD,# millisecs between each attempt to check server status
# TIMEOUT,# millisecs after which an in-progress status check is aborted
# ENABLELOGGING,0 for disabled or 1 for enabled
# LOGFILE,filename used for logging
#
# Sound Settings
#-------------------------------------------------------------------------------
# ENABLESOUNDS,0 for disabled or 1 for enabled
# DOWNSOUND,.wav file played when a server goes down
# UPSOUND,.wav file played when a server comes back up
#
# There can be multiple lines of the below format (one for each server)
#-------------------------------------------------------------------------------
# SERVER,Display Name,host,port
#-------------------------------------------------------------------------------

# general settings
TITLE,World of Warcraft Realm Status (Pacific)
WIDTH,450
HEIGHT,360
UPDATEPERIOD,60000
TIMEOUT,5000
ENABLELOGGING,0
LOGFILE,sstat-pacific.log

# sound settings
ENABLESOUNDS,1
DOWNSOUND,down.wav
UPSOUND,up.wav

# servers
SERVER,Blackrock,12.129.233.81,3724
SERVER,Bonechewer,12.129.233.50,3724
SERVER,Boulderfist,12.129.233.8,3724
SERVER,Bronzebeard,12.129.233.2,3724
SERVER,Cenarion Circle,12.129.233.24,3724
SERVER,Cenarius,12.129.233.84,3724
SERVER,Crushridge,12.129.233.12,3724
SERVER,Daggerspire,12.129.233.10,3724
SERVER,Destromath,12.129.233.63,3724
SERVER,Dethecus,12.129.233.53,3724
SERVER,Draenor,12.129.233.5,3724
SERVER,Dragonblight,12.129.233.6,3724
SERVER,Dragonmaw,12.129.233.49,3724
SERVER,Dunemaul,12.129.233.11,3724
SERVER,Feathermoon,12.129.233.4,3724
SERVER,Frostwolf,12.129.233.77,3724
SERVER,Gorgonnash,12.129.233.65,3724
SERVER,Hyjal,12.129.233.118,3724
SERVER,Kil'Jaeden,12.129.233.82,3724
SERVER,Kilrogg,12.129.233.75,3724
SERVER,Lightbringer,12.129.233.83,3724
SERVER,Ner'zhul,12.129.233.78,3724
SERVER,Proudmoore,12.129.233.37,3724
SERVER,Shadowsong,12.129.233.26,3724
SERVER,Silver Hand,12.129.233.79,3724
SERVER,Silvermoon,12.129.233.23,3724
SERVER,Spinebreaker,12.129.233.52,3724
SERVER,Stonemaul,12.129.233.28,3724
SERVER,Stormscale,12.129.233.9,3724
SERVER,Suramar,12.129.233.7,3724
SERVER,Tichondrius,12.129.233.80,3724
SERVER,Uldum,12.129.233.1,3724
SERVER,Uther,12.129.233.88,3724
SERVER,Windrunner,12.129.233.25,3724
