#-------------------------------------------------------------------------------
# sstat - utility for monitoring server status
#
# General Settings
#-------------------------------------------------------------------------------
# TITLE,Window Title
# WIDTH,Initial Window Width
# HEIGHT,Initial Window Height
# UPDATEPERIOD,# millisecs between each attempt to check server status
# TIMEOUT,# millisecs after which an in-progress status check is aborted
# ENABLELOGGING,0 for disabled or 1 for enabled
# LOGFILE,filename used for logging
#
# Sound Settings
#-------------------------------------------------------------------------------
# ENABLESOUNDS,0 for disabled or 1 for enabled
# DOWNSOUND,.wav file played when a server goes down
# UPSOUND,.wav file played when a server comes back up
#
# There can be multiple lines of the below format (one for each server)
#-------------------------------------------------------------------------------
# SERVER,Display Name,host,port
#-------------------------------------------------------------------------------

# general settings
TITLE,World of Warcraft Realm Status (Mountain)
WIDTH,450
HEIGHT,350
UPDATEPERIOD,60000
TIMEOUT,5000
ENABLELOGGING,0
LOGFILE,sstat-mountain.log

# sound settings
ENABLESOUNDS,1
DOWNSOUND,down.wav
UPSOUND,up.wav

# servers
SERVER,Azjol-Nerub,12.129.233.119,3724
SERVER,Bloodscalp,12.129.233.3,3724
SERVER,Darkspear,12.129.233.126,3724
SERVER,Deathwing,12.129.233.64,3724
SERVER,Doomhammer,12.129.233.74,3724
SERVER,Icecrown,12.129.233.66,3724
SERVER,Kel'Thuzad,12.129.233.67,3724
SERVER,Nathrezim,12.129.233.21,3724
SERVER,Perenolde,12.129.233.120,3724
SERVER,Terenas,12.129.233.22,3724
